nav{
    text-align: center;
    margin-top: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;

    
}
nav a{
    color: white;
    text-decoration: none;
    padding: 0px 50px 10px 0px;
    font-size: 25pt;
    position: relative;
}
nav a::after{
    content: " ";
    width: 0%;
    height: 4px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}
nav a:hover::after{
    width: 100%;
}
body{
    background-color: black;
}
.table{
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#redes{
     color: white;
     text-align: center;
}
#instagram{
    color: brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
#face2{
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
header{
    color: white;
    text-align: center;
    font-size: 25px;
}
footer{
    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
body{
    color: white;
    text-align: center;
    
}
#contato{
    font-size: 40px;
    color: white;
    text-align: center;
}
/* Estilos para dispositivos móveis com largura de tela até 600px */
@media only screen and (max-width: 600px) {
    /* Adicione seus estilos para dispositivos móveis aqui */
  }