nav{
    text-align: center;
    margin-top: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;

    
}
nav a{
    color: white;
    text-decoration: none;
    padding: 0px 50px 10px 0px;
    font-size: 25pt;
    position: relative;
}
nav a::after{
    content: " ";
    width: 0%;
    height: 4px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}
nav a:hover::after{
    width: 100%;
}
body{
    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
    background-color: black;
    padding: 10px 70px 30px 10px;
}
#sede{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
div{
    text-align: center;
}
footer{
    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
/* Estilos para dispositivos móveis com largura de tela até 600px */
@media only screen and (max-width: 600px) {
    /* Adicione seus estilos para dispositivos móveis aqui */
  }